.body{
    position: relative;
    height: 100vh;
    max-width: 100vw;
   top: 5%;
}

.content {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 10px;
}

.background {
    position: fixed;
    z-index: 0;
    background-image: url("./src/media/1000_F_164242330_hYMp40k12vhjOB10Px4Sb8gcMvhutvIQ.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}