.skill-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 40vw;
  max-width: 95.3vw;
  width: 95.3vw;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  color: white;
}

.h1-skills {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 42px;
  color: white;
  font-family: "Bungee Spice", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Pacifico", cursive;
}

.skill-lists {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  font-size: 28px;
  left: 20px;
}

.skill-lists > ul {
  width: 33%;
}

.skills-list-header {
  font-size: 40px;
  text-decoration: underline;
}

@media (min-width: 831px) and (max-width: 1480px) {
  .skill-container,
  .skills-list-header {
    font-size: 20px !important;
  }
  .skill-container {
    top: 120px;
  }
}

@media (min-width: 588px) and (max-width: 830px) {
  .skill-container,
  .skills-list-header {
    font-size: 14px !important;
  }
  .skill-container {
    top: 255px;
  }
}
@media (max-width: 587px) {
  .skill-lists,
  .skills-list-header {
    font-size: 12px !important;
  }
  .skill-container {
    top: 300px;
  }
}
