.resume-container{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
gap: 20px;
height: 40vw;
width: 95.4vw;
position: relative;
}
.button-grp{
    max-width: 500px;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    
}

.button-grp > * {
    padding: 3%;
    background-color:brown;
    border-radius: 50px;
    color: aliceblue;
    font-size: 26px;
}

.resume-download{
    text-decoration: none;
    color: aliceblue;
}

.resume-download:visited{
    color: aliceblue;
    text-decoration: none;
}

.view-in:hover {
    cursor: pointer;
}

@media (min-width: 993px) and (max-width: 1480px) {
    .resume-container {
      font-size: 20px !important;
      
    }
  }
  
  @media (min-width:588px) and (max-width: 992px) {
    .resume-container{
      top: 35px !important;
      font-size: 14px !important;
    }
  }
  @media  (max-width: 587px) {
      .resume-container{
        top: 240px !important;
        font-size: 14px !important;

      }
    }