/* ContactForm.css */

/* Style for form container */
.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #111010;
    border-radius: 5px;
    background-color: #111010;
  }
  
  /* Style for form inputs and labels */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ee0a0a;
  }
  
  textarea {
    height: 100px;
  }
  
  /* Style for submit button */
  button[type="submit"] {
    padding: 10px 15px;
    background-color: rgb(8, 8, 8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #f50808;
  }
  