.header {
  position: fixed;
  top: 0px;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: rgba(255, 255, 255, 0.976);
  border-bottom: 3px solid silver;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  padding: 0 3%;
  font-size: 36px;
  margin-bottom: 25px;
  font-family: "Bungee Spice", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Pacifico", cursive;
}

.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  color: white !important;
}

.nav-menu >a{
 color: white;
}

.nav-menu > a:visited {
  color: white !important;
}

.nav-menu > a:hover {
  color: red;
}

/* Styles for screens with a minimum width of 1025 pixels */
@media (min-width: 831px) and (max-width: 1480px) {
  .header {
    font-size: 20px !important;
  }
}

@media (min-width: 588px) and (max-width: 830px) {
  .header {
    font-size: 13px !important;
  }
}
@media (max-width: 587px) {
  .header {
    font-size: 10px !important;
  }
}
